html
{
	background-color: white;
}
body
{
	margin:0 auto;
	width:960px;
	font-size:100%;
	line-height:1.5;
    box-shadow: 10px 10px 5px grey;
}

body
{
	margin-top:24px;
	background-color:#e3e3e3;
	padding:24px;
}
section
{
	border-left:24px solid #a4a4a4;
	margin-top:24px;
	background-color:#c3c3c3;
}
footer
{
	margin-top:24px;
	background-color:#c4c4c4;
	margin-bottom:48px;
}