html
{
	background-image: url("../images/grey_wood.jpg");
	background-color: white;
	font-family: Helvetica;
}

body
{
	margin:0 auto;
	margin-top: 24px;
	margin-bottom: 24px;
	width:960px;

}
main
{
	padding:24px;
	background-color:#F4F2F0;
	font-size:100%;
	line-height:1.5;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

nav, footer
{
	width: 100%;
  	text-align: center;
}

.menu, .footer
{
	display: inline-block;
}

section
{
	margin-top:24px;
}

footer
{
	padding:24px;
	color: #c3c3c3;
	text-shadow: 1px 1px 1px black!important; 
}

a
{
	color: #2F2F2E;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
}

h2,h1
{
	font-weight: bold;
}